<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857400138933-uikpfr2n2khiedal6pamelcthk664485.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857400138933-uikpfr2n2khiedal6pamelcthk664485</string>
	<key>API_KEY</key>
	<string>AIzaSyBzKbMxADngJVG6bdZO6ZZ_KlHQwrrBwBk</string>
	<key>GCM_SENDER_ID</key>
	<string>857400138933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.empowero</string>
	<key>PROJECT_ID</key>
	<string>empower-75ec9</string>
	<key>STORAGE_BUCKET</key>
	<string>empower-75ec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857400138933:ios:722404d90a50ec9a7db2fc</string>
</dict>
</plist>